
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: center;
}
.vote, .answer {
  width: 60px;
  height: 60px;
  margin-top: 20%;

}

.status{
  &.unanswered{
    border:none
  }
  &.answered {
    border: 1px solid $green;
    color: $green;
    padding: 5px;

  }
  &.answered-accepted {
    background: $green;
    color: $white;
  }

}